body {
  margin:9;
}
nav {
  background-color;
  
}
nav>img {
  height:45px;
  margin:3px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap:wrap;
}

.card {
  border:3px solid green;
  border-radius: 3px;
  width:30%;
  margin:20px;
}
.card img {
  width:100%;
}